
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}
body {
    
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 222px;
    text-align: center;


}

.login_form {
    margin-left: 400px;
    text-align: center;
    border: 2px solid black;
    background-color: whitesmoke;
    border-radius: 20px;
    height: 350px;
    width: 250px;
    font-size:large;
    
}